/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #000000;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  max-width: 1440px;
  display: block;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #212121;
  margin: 16px;
}

ul {
  list-style-type: none;
  flex-wrap: wrap;
  gap: 24px;
  display: flex;
  padding-left: auto;
  padding-right: auto;
}
img {
  display: block;
  height: auto;
  width: 360px;
  object-fit: cover;
}
p {
  text-decoration: underline;
  font-size: 24px;
  margin-bottom: 16px;
}

form {
  display: block;
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  background-color: #fafafa;
}

input,
textarea {
  display: block;
  width: 360px;
  margin-bottom: 16px;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}

.feedback-form {
  padding: 24px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #fff;
}

label {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.64px;
  display: flex;
  flex-direction: column;
}

input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 360px;
  border-radius: 4px;
  border: 1px solid #808080;
  margin-bottom: 8px;
  margin-top: 8px;
  outline: 0px solid transparent;
  padding-left: 16px;
}

input:hover,
input:focus {
  border: 1px solid #000;
}

textarea {
  margin-top: 8px;
  width: 360px;
  height: 80px;
  border-radius: 4px;
  border: 1px solid #808080;
  resize: none;
  outline: 0px solid transparent;
  padding-left: 16px;
  padding-top: 8px;
}

textarea:hover,
textarea:focus {
  border: 1px solid #000;
}

button:hover {
  background-color: #6c8cff;
}
